<div class="container" style="padding:10px;">
    <div class="row" style="justify-content: center;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="background:gray; padding:20px">
        <div>

          <form #f="ngForm" class="form-inline">
            <div class="form-group inline">
              <input type="text" class="form-control" name="task" [(ngModel)]="task.title" placeholder="enter the title of the task">
              <button class="btn btn-primary" (click)="onSubmit()">add</button>
            </div>
            <ul class="list-group">
            <li [className]="task.status ? 'list-group-item' : 'list-group-item striked'" *ngFor="let task of Tasks">
              <div class="row">
                <div class="col-sm-2">
                  <button class="btn btn-success" (click)="onDone(task)">
                     <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="col-sm-6">
                  <p>{{task.title}}</p>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger" (click)="onRemove(task)">X</button>
                </div>
              </div> 
              </li>
            </ul>
          </form>
          
        </div>
      </div>
    </div>
</div>
