input , .btn, .list-group-item{
  border:0px;
  border-radius: 0px;
}

.list-group {
  margin-top: 10px;
  width: 100%;
}

.list-group-item .btn-danger {
  float:right
}

.list-group-item .btn-success {
  float:left
}

.striked {
  color: red;
  text-decoration-line: line-through;
  -moz-text-decoration-style: line-through;
}



