<p>dashboard works!</p>
<ul>
    <li *ngFor="let recipe of recipes" [routerLink]="['/detail/'+recipe.id ]">
        {{recipe.title}}
    </li>
</ul>
<!-- <h3>Tasks</h3>
<ul>
    <li *ngFor="let task of Tasks" >
        {{task.title}}
    </li>
</ul>
<button class="btn btn-lg btn-success" (click)="addTask()">
    Add New Task
</button>
 -->
<!-- <input type="date" name="date" [(ngModel)]="date" (ngModelChange)="myDate = $event" >
<button (click)="dateUpdted()">set </button>

<p>age : {{date | age}}</p>

<p> This is whithout custom directive </p>

<p appRenderblack> With custom directive</p> -->
<h1> Pipes </h1>

<p>{{date | date : 'shortDate'}}</p>
<p>{{ currency | currency : 'EU': symbol:'4.2-2'}}</p>
<p>{{ text | slice : 0:90}}</p>
<p>{{ name | lowercase }}</p>
<p>{{ city | titlecase }}</p>
<p>{{ json | json}}</p>

<input type="date" name="date" [(ngModel)]="date" (ngModelChange)="myDate = $event">
<button (click)="dateUpdated()">Set</button>

age {{date | newAge}}
<div style="text-align: center;">
    <p appBlink>this is blinking text</p>
</div>

Time: {{ time | async }}
