<form #f="ngForm" >
  <div class="form-group">
    <div class="row">
      <div class="col-sm-8">
        <input type="text" class="form-control" name="task" [(ngModel)]="task.title" placeholder="enter the task name">
      </div>
      <div class="col-sm-4">
        <button class="btn btn-md btn-primary" type="submit" (click)="onSubmit()">add</button>
      </div>
    </div>
  </div>
</form>
