

 <div class="card" style="width: 100%">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description}}</p>
      <a class="btn btn-primary">Go back</a>
    </div>
  </div>