<!--The content below is only a placeholder and can be replaced.-->
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/login']">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/dashboard'  ]">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/todo'  ]">todo</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
