<div class="row" style="justify-content: center;">
    <div class="col-sm-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-top:30px">
            <div class="form-group">
                <input type="email" formControlName="email" class="form-control" placeholder="enter your email" />
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="enter your password" />
            </div>
            <button class="btn btn-success" [disabled]="!form.valid" type="submit">Login</button>
            <p *ngIf="form.get('email').touched && (!form.get('email').dirty || this.form.get('email').invalid)" style="color:red;background:yellow;padding:10px;border:1px solid black">
                {{this.form.get('email').invalid ? 'Email is invalid' : ''}}
            </p>
        </form> 
    </div>
</div>
