<div class="container">
  <div class="parent">
    <h1>{{this.showGreeting()}}</h1>
    <app-child [greeting]="greeting" (sendOutput)="getOutput($event)"></app-child>
    <app-todo></app-todo>
  </div>
</div>
