<div class="container">
  <div class="child">
  <p>{{this.greeting}}</p>
 <!--  <button class="btn btn-primary" (click)="this.sendEvent()">click me</button>
  </div>
  <form #f="ngForm" (ngSubmit)="submitForm()">
    <input type="text" name="name"  [(ngModel)]="user.email" class="form-control">
    <button>submit</button>
  </form> -->

  <!-- <form [formGroup]='form' (ngSubmit)="onSubmit()">
    <input type="text" formControlName="task">
    <button type="submit">submit</button>
  </form> -->
  <div class="row" >
    <div class="col-sm-4 d-flex justify-content-center">

    </div>
  </div>
  <div class="row" style="justify-content: center;">
    <div class="col-sm-4" style="text-align: center;">
      <div class="spinner-border" role="status" *ngIf="showSpinner">
        <span class="sr-only">Loading...</span>
      </div>
      <form [formGroup]='employeeForm' (ngSubmit)="createEmployee()">
        <input type="text" formControlName="name" class="form-control" placeholder="Name">
        <div *ngIf="employeeForm.get('name').valid && employeeForm.get('name').touched">
        <p>{{employeeForm.get('name').dirty}}</p>
        </div>
        <input type="number" formControlName="salary" class="form-control" placeholder="Salary">
        <input type="number" formControlName="age" class="form-control" placeholder="Age">
        <button type="submit" [disabled]="!employeeForm.valid">submit</button>
      </form>
    </div>
  <div>
   <!--  <form #k="ngForm" (ngSubmit)="createEmployee()">
      <input type="text" name="name"  [(ngModel)]="employee.name" class="form-control">
      <input type="text" name="name"  [(ngModel)]="employee.salary" class="form-control">
      <input type="text" name="name"  [(ngModel)]="employee.age" class="form-control">
      <button type="submit">submit</button>
    </form> -->
  </div>
  <!-- <ul>
    <li *ngFor="let task of tasks">
      {{task}}
    </li>
  </ul> -->
</div>
