<div >
  <div class="list-group">
    <div class="list-group-item" *ngFor="let task of Tasks">
      {{task.title}}
      <button class="btn btn-sm btn-danger" style="float:right">X</button>
    </div>
  </div>
</div>
